        {% if product.available %}
        ....
        {% else %}
        
        <div id="sold-out">
          
          <div class="title-row">
              <h1 class="title">{{ product.title }}</h1>
            </div>
            <div class="price-container">
              <div>
                <div class="price-area">
                  <div class="price h4-style {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
                    <span class="current-price theme-money">{{ current_variant.price | money }}</span>
                    {% if current_variant.compare_at_price > current_variant.price %}
                    <span class="was-price theme-money">{{ current_variant.compare_at_price | money }}</span>
                    {% endif %}
                  </div>

                  {% render 'unit-price', variant: current_variant %}


                </div>
              </div>
              {% if product.compare_at_price_max > product.price %}
                <div>
                  {% render 'sale-tag' %}
                </div>
              {% endif %}
              <div class="price-descriptors">
                {{ form | payment_terms }}

                {%- if section.settings.show_tax_and_shipping -%}
                  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                    <div class="product-policies">
                      {%- if shop.taxes_included -%}
                        {{ 'products.product.include_taxes' | t }}
                      {%- endif -%}
                      {%- if shop.shipping_policy.body != blank -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}

                {% if section.settings.inventory_transfers_enable %}
                  <div class="product-inventory-transfer {% unless current_variant.incoming %}product-inventory-transfer--none{% endunless %}">
                    {%- if current_variant.incoming -%}
                      {%- if current_variant.next_incoming_date -%}
                        {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
                        {%- if current_variant.available -%}
                          {{ 'products.transfers.will_not_ship_until' | t: date: date }}
                        {%- else -%}
                          {{ 'products.transfers.will_be_in_stock_after' | t: date: date }}
                        {%- endif -%}
                      {%- else -%}
                        {{ 'products.transfers.waiting_for_stock' | t }}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {% endif %}
              </div>
              {%- if settings.enable_product_reviews_by_price -%}
                <div class="theme-product-reviews">
                  <a href="#shopify-product-reviews" aria-label="{{ 'products.product.reviews_link' | t | escape }}"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
                </div>
              {%- endif -%}

            </div>
          
          <p>AUSVERKAUFT</p>
            {% form 'contact' %}
              {% if form.posted_successfully? %}
              <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
              {% else %}
              <p>Click <a id="notify-me" href="#"><strong>here</strong></a> to be notified by email when {{ product.title }} becomes available.</p>
              {% endif %}
              {% if form.errors %}
              <div class="error feedback accent-text">
                <p>Please provide a valid email address.</p>
              </div>
              {% endif %}
              {% unless form.posted_successfully? %}
              <div id="notify-me-wrapper" class="clearfix" style="display:none">
                {% if customer %}
                <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                {% else %}
                <input style="float:left; width:180px;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                {% endif %}
                <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
                <input style="float:left; margin-left:5px;" class="btn styled-submit" type="submit" value="Send" />
              </div>
              {% endunless %}
            {% endform %}
		</div>
      
      {% endif %}
